<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
<li><a href="/gdax/currencies">Currencies</a></li>
<li><a href="/gdax/products">Products</a></li>
<li><a href="/gdax/accounts">Accounts</a></li>
</ul>